RewriteEngine on
RewriteRule ^(graphics|images) - [last]
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REMOTE_ADDR} 83.31.252.44
RewriteRule .* index-new.php5


php_value error_reporting 0
php_value auto_prepend_file includes/header.html
php_value auto_append_file includes/footer.html
php_value magic_quotes_gpc off
php_value magic_quotes_runtime off
AddDefaultCharset utf-8
#AddType application/x-httpd-php .php5
#AddType application/x-httpd-php .php

# php_value output_buffering on 