---
layout: default
title: Strona Główna
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>


 <div class='menu' id='left'>
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Dawniejszy</a>
  {% else %}
    <span class="pagination-item older">Dawniejszy</span>
  {% endif %}
  </div>
  <div class='menu' id='right'>
  {% if paginator.previous_page %}
  
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Nowszy</a>
  {% else %}
    <span class="pagination-item newer">Nowszy</span>
  {% endif %}
  </div>

