* { padding: 0; border-spacing: 0; border-width: 0; margin: 0; }
body { position: relative; width: 900px; margin: 0 auto; }
#all { margin-left: 130px; margin-right: 150px; padding-top: 120px; }
#left, #right { z-index: 20000; display: inline; /* lata dla IE: uniknienie podwojenia marginesow plywajacych elementow */ }
#left { width: 130px; float: left; margin-left: -130px; }
#right { width: 140px; /* + padding = 150px */ padding: 20px 5px; float: right; margin-right: -150px; }
address { clear: both; margin-left: -130px; margin-right: -150px; }
h1, #quick_menu { position: absolute; width: 900px; left: 0; }
h1 { top: 0; }
#quick_menu { top: 100px; }
/* b: prosze nie edytowac powyzej niniejszgo komentarza */html { background-color: #fff; font-family: Arial !important; }
address { background-color: #FFF; z-index: 1000; }
#all { background-color: #fff7e2; }
address { padding: 5px 10px; border-top: 1px solid #6E5635; }
#quick_menu { border-bottom: 1px solid gray; }
#content { padding: 20px; }
body.content #content p { text-align: justify; }
body.content #content p * { font-weight: normal !important; }
body { background-image: url('/images/t_body.gif'); }
ol li { list-style-type: upper-roman; }
ul li { list-style-type: circle; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a { color: #6E5635; }
input { vertical-align: middle; }
input.number { width: 25px; }
form li, form ul {list-style-type: none; margin: 0; padding: 0;}
#quick_menu { background: #EBEBEB; line-height: 20px; text-align: right; }
#quick_menu a { color: black; font-size: 10pt; font-weight: normal; text-decoration: none; }
#quick_menu a:hover { color: red; }
#quick_menu li { display: inline; padding-right: 15px; }
/* menu lewe */.menu#left { background: white; font-size: 9pt; margin-top: 20px; }
.menu#left a { text-decoration: none; }
.menu#left a:hover { color: red !important; text-decoration: none; }
.menu#left .barter h2 { background: #40B703; }
.menu#left .barter h2 a { color: #fff; }
.menu#left .barter ul, .menu#left .barter a { color: #397E09 }
.menu#left .sklep h2 { background: #FFA10D; }
.menu#left .sklep h2 a { color: #fff; }
.menu#left .sklep ul, .menu#left .sklep a { color: #BF7401; }
.menu#left .virma h2 { background: #227FDF; }
.menu#left .virma h2 a { color: #fff; }
.menu#left .virma ul, .menu#left .virma a { color: #075FB9; }
.menu#left input { width: 98px; border-width: 1px; margin: 2px 0; font-size: 10px; }
.menu#left .sklep input { border-color: #FFA10D; }
.menu#left h2, .menu#left p { padding: 2px 4px; }
.menu#left h2 { /* border-bottom: 1px solid #F4F4F4; */ color: white; font-size: 11pt; font-weight: bold; text-transform: uppercase }
.menu#left p { margin: 10px 0; font-variant: small-caps; background: #F4F4F4; text-align: center; }
.menu#left li { list-style-type: none; margin-top: 0; margin-bottom: 4px; }
.menu#left li li li { list-style-type: disc; font-size: 10px; margin-left: 10px; }
.menu#left li li li li { list-style-type: none; font-size: 10px; margin-left: -5px; }
.menu#left ol, .menu#left ul { margin: 5px; }
.menu#left select { width: 100px; border: 1px solid #BF7401; }
.menu#left ul { margin-bottom: 6px; }
.menu#left form ul ul { margin-top: -6px; margin-bottom: 6px; }
.menu#right { background: #EBEBEB; }
.menu#right p, .menu#right ul { font-size: 12px; }
.menu#right ul { margin-left: 10px; }
.menu#right img { display: block; margin-bottom: 5px; }
ul#quick_menu { font-family: Verdana; font-weight: bold; }
#item_details { clear: both; }
#item_photo { float: right; }
#item_categories * { padding: 0 !important; margin: 0 !important; display: inline; }
#content { font-size: 9pt; }
#content h2 { /* height: 30px; border-bottom: 1px solid #6E5635; */ /* okreslenie wysokosci powoduje ujawnienie obramowan w MSIE 6 */ margin: 10px 0 20px; color: #6e5635; font-size: 14pt; }
#content a:hover { color: red; }
#content p { margin: 10px; }
#content ol, #content ul { margin: 10px 30px; }
#content input, #content select, #content textarea { border: 1px solid #d8d8d8; vertical-align: middle; width: 540px; }
body.profile #content form { position: relative; }
body.profile #content form li { height: 20px; line-height: 20px; }
#content hr { clear: both; height: 1px; /* dla msie, podobno ... */ border-bottom: 1px solid #6E5635; margin: 10px 0; }
#profile_form input { position: absolute; left: 200px; }
h1 { position: absolute; top: 0; left: 0; height: 100px; z-index: 100; border-bottom: 1px solid black; }
h1 { width: 900px; background: url('http://barter.w3style.pl/images/gradient.jpg'); }
address { position: relative; top: -5px; color: #6E5635; font-size: 8pt; font-style: normal; }
sup { position: relative; left: -5px; color: red !important; cursor: help; font-family: Verdana; font-weight: bold; }
dd { margin: 5px; }
/*dd:before { content: 'AcÂ?Â? '; }
*//*.news { margin: 20px 0; }
.news li { position: relative; clear: both; padding: 15px; border-top: 1px solid black; list-style-type: none; }
.news h3 { margin-bottom: 5px; font-size: 11pt; }
.news .more { position: absolute; right: 0; bottom: 10px; margin-bottom: 0; font-weight: bold; text-align: right; }
.news img { float: left; margin: 0 10px 10px 0; }
*/#category_illustrations { width: 100%; margin: 0 !important; }
#category_illustrations li { width: 24%; float: left; margin: 1px; list-style-type: none; text-align: center; overflow: hidden; }
#category_illustrations span { display: block; margin-bottom: 10px; font-size: 9pt; }
#uploaded_illustrations li { margin: 10px 0; }
/*ol.category { font-size: smaller; }
*/table { width: 100%; }
th { text-align: left; }
#accept_profile_change { margin-top: 30px !important; }
.submit_container, .contains_inputs, .contains_inputs * { list-style-type: none !important; }
.manager .wide { width: 100%; display: block; }
.manager textarea.wide { height: 300px; }
.manager hr { padding: 0 !important; margin: 10px 0 !important; }
.wym_box h2 { font-size: 8pt !important; }
.wym_box * { margin: 0 !important; }
.illustration_container { float: left; margin: 0 0 5px 5px; }
.wym_box .illustration_container { float: none; margin: 0; }
.menu form ul, .menu form li { padding: 0 !important; margin: 0 !important; }
.little_submit { width: auto !important; }
body.content #content ul, body.content #content li, body.content #content p { padding: 0 !important; margin: 0 !important; list-style-type: none; }
.zajawka { height: 150px; overflow: hidden; }
.illustration_left { float: left; margin: 0 10px 10px 0; }
.zajawka { padding-top: 10px; border: 1px solid #6e5635; border-width: 1px 0; margin-bottom: 10px; }
.read_more { margin-top: 20px !important; text-align: right !important; }
h3 { margin: 10px 0 20px; color: #6e5635; font-size: 14pt; }
th.poster_data { width: 200px; }
table.forum td, table.forum th { padding: 4px; }
.lista td { background: #fffcf4; border: 0 solid #bdaf9f; border-width: 1px 0; }
tr.filler td { padding: 0; height: 5px; }
 .forumThreads form { margin: 0 -10px; }
 .forumThreads input, .forumThreads textarea { width: 100% !important; }
 