<!DOCTYPE html>
<head>
<link rel="image_src" href="images/logo_CK.gif">
<meta charset='utf-8'>
<meta name="google-site-verification" content="ecghPojvV4ekuabVsk0K7QoXjMN3-5ZSLk_AKjoWvBY" />
<title>Czysta Kraina</title>
<!--[if IE]>
<style type='text/css.html'>
body { width: 720px; }
</style>
<![endif]-->

<link rel='stylesheet' href='\index.css' type='text/css'>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'></script>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js'></script>
</head>
<body class='articles'>
<div id='all'>
<h1>
</h1>
<div class='menu' id='right'>
</div>

<div id='content'>
{{ content }}
<div><!--koniec content-->
<ul id='quick_menu'>
	<li><a href='index.html'>Strona główna</a><!--<li><a href='/forum.html'>Forum</a>--><li><a href='contact.html'>Kontakt</a><li><a href='articles.html'>Materiały</a><li><a href='links.html'>Linki</a>
</ul><div style="margin-top: 0px;" class="fb-like" data-width="650" data-show-faces="true"></div>
<address><p id='footer' lang='en-us'></p></address>
</div><!-- #all -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{
var pageTracker = _gat._getTracker("UA-16300756-1");
pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>